
@{
    ViewBag.Title = "Gestion des taches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ajouter une tache</h2>

 <div>
    <form id="formTache" name="formTache" action="" method="post">
       <div class="row" style="width:100%;">
          <div class="col-xs-12 col-sm-3">
             <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" id="nom_tache" name="nom" required />
             </div>
             <div class="form-group">
                <label>Importance</label>       <br />
                <select id="importance" name="importance">
                   <option value="1">Urgente</option>
                   <option value="2">Prioritaire</option>
                   <option value="3">Normale</option>
                </select>
             </div>
          </div>


          <div class="col-xs-12 col-sm-9">
             <div class="form-group" style="width:100%;">
                <label>Description</label>
                <textarea type="text" id="description_tache" name="description" class="form-control" style="width:100%;" required>   </textarea>
             </div>
             <div class="form-group">
                <label for="fichiers_tache">Fichiers</label>
                <textarea type="text" id="fichiers_tache" class="form-control" name="fichiers" style="white-space:pre-line" readonly> </textarea>
                <input type="file" id="mesfichiers" title="Ajouter" value="Ajouter un fichier" onchange="fileChange(this)" multiple>
                <!--   <input type="button" value="save to file" onclick="saveToFile()" />  -->
             </div>

          </div>
       </div>
       <div class="row">
          <input type="submit" id="submitTache" name="submitTache" value="Enregistrer" class="btn btn-primary" />
       </div>
       <hr />
    </form>
      <div class="table-responsive">
         <table class="table table-bordered">
            <tr>
               <th>Tache</th>
               <th>Description</th>
               <th>Importance</th>
               <th>Fichiers</th>
               <th>Date saisie</th>
            </tr>
         </table>
      </div>

 </div>
 <script type="text/javascript">

    function fileChange(lesFichiers) {
       var monTextArea = document.getElementById("fichiers_tache");
       for (var i = 0; i < lesFichiers.files.length; i++) {
          monTextArea.value += '\r\n' + lesFichiers.files[i].name ;
         
       }
       document.getElementById("fichiers_tache").style.height = lesFichiers.files.length * 20 + "px";
       
    }
    var data = { "firstField" : "value1", "secondField": "value2" };
    function saveToFile() {
        $.ajax({
            url: "/ControllerName/ActionName",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (data) {

            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    };
 </script>